.popular-products {
  height: 100%;
  width: 100%;

  border: 2px #E5EFFA solid;

  padding: 5px 15px 15px 15px;
}

.popular-products__title {
  height: 40px;
  background-color: #EBF1F6;
  border-radius: 6px;

  display: grid;
  grid-template-columns: repeat(7, 1fr);

  align-self: center;
}

.popular-products__title p {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: var(--light-text-colour);
}